.book {
  /* max-height: 80px; */
  max-width: 95%;
  margin: 13px auto;
  overflow: hidden;
  background-color: white;
  border-radius: 10px;
  box-shadow: 3px 5px 5px rgb(196, 196, 196);
}

.book * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.book__container {
  display: flex;
  overflow: hidden;
  width: 100%;
}

.department_side {
  background-color: #a761ff;
  flex: 1;
  /* font-size: 1.1rem; */
  display: flex;
  align-items: center;
  color: white;
  text-align: center;
  padding: 10px;
  /* border: 3px dotted yellow; */
}

.book .book__container .bookinfo_side {
  /* background-color: rgb(248, 248, 248); */
  background-color: rgba(255, 255, 255, 0.979);
  flex: 2;
  padding: 15px 100px 15px 15px;
  /* transform: scale(120%); */
  /* border: 3px dotted green; */
  position: relative;
}

.read_button {
  background-color: #a761ff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 50px;
  margin: 5px;
  float: right;
  position: absolute;
  bottom: 10px;
  right: 10px;
}
