.library {
  flex: 0.4;
  border-right: 1px solid var(--twitter-background);
  /* min-width: fit-content; */
  min-width: 50vw;
  width: 50vw;
  background-color: #f2edf3;
  max-width: 50vw;
  /* overflow: hidden; */
  overflow-y: scroll;
}

.library::-webkit-scrollbar {
  display: none;
}

.library__header {
  position: sticky;
  top: 0;
  width: 100%;
  /* background-color: rgba(211, 131, 211, 0.795); */
  z-index: 100;
  border: 1px solid var(--twitter-background);
  padding: 15px 20px;
}
