.news {
  margin: 10px auto;
  min-width: 90%;
  max-width: 95%;
  height: auto;
  max-height: 500px;
  background-color: white;
  padding: 30px;
  overflow: hidden;
  border: 1px solid lightgray;
  border-radius: 5px;
  background-color: #f8ceec;
  background-image: linear-gradient(315deg, #f8ceec 0%, #b197ee 74%);
}

.news__title {
  border-bottom: 1px solid lightgray;
  font-size: 20px;
}

.head__text {
  margin-top: 10px;
}

.news__desc {
  padding-top: 10px;
  line-height: 25px;
  font-size: 14px;
  padding-bottom: 10px;
}

.news__author {
  margin-right: 10px;
  color: purple;
}

.news__published {
  margin-right: 10px;
}

.news__source,
.news__published {
  display: inline-block;
  margin-top: 10px;
  font-size: 10px;
  color: rgb(122, 122, 122);
  margin-bottom: 10px;
  width: 100%;
  max-width: 100%;
  height: auto;
  overflow: hidden;
}
