.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-image: url("https://cdn.pixabay.com/photo/2017/08/05/00/02/buildings-2581875_1280.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
