.chat_portal {
  min-width: 50vw;
  width: 50vw;
  background-color: #f2edf3;
  max-width: 50vw;
  padding: 0px 9px;
}

.hrd__header {
  top: 0;
  /* background-color: white; */
  z-index: 100;
  height: 100px;
  overflow: hidden;
  border: 1px solid var(--twitter-background);
  /* padding: 15px 20px; */
  padding-left: 20px;
  background-image: linear-gradient(315deg, #a761ff 0%, #612dda 74%);
  color: white;
  border-radius: 10px;
  margin: 4px auto;
  min-width: 95%;
  max-width: 100%;
}

.update_portal {
  margin: 10px;
  background-color: white;
  padding: 10px;
  /* box-shadow: 3px 5px 5px rgb(196, 196, 196); */
  border-radius: 10px;
}

.update_portal_header {
  padding: 10px;
  display: flex;
  flex-direction: row;
}

.update_icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 5px;
}

.update_portal_heading {
  margin-left: 5px;
}

.update_portal_card {
  /* border: 2px solid red; */

  background-color: rgba(255, 255, 255, 0.356);
  margin: 10px;
  /* padding-left: 8px; */
}

.single_card {
  margin: 20px 12px;
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 2px 2px 3px 3px rgb(196, 196, 196);
}

.monthly_goal_input {
  display: flex;
}

.notice_input {
  display: flex;
}

.notice_input input {
  border: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 12px;
  border-radius: 3px;
  width: 60%;
  background-color: rgba(0, 0, 0, 0.061);
  margin: 5px 0;
  font-family: inherit;
}

.monthly_goal_input textarea {
  height: 150px;
  width: 450px;
  max-width: 450px;
  min-height: 100px;
  font-family: inherit;
}

.notice_input button {
  /* padding: 10px; */
  margin-left: 20px 0;
  color: white;
  background-image: linear-gradient(315deg, #a761ff 0%, #612dda 74%);
  border: 1px solid #000;
  border-radius: 5px;
  cursor: pointer;
  width: 20%;
  height: 40px;
}

.monthly_goal_input button {
  /* padding: 10px; */
  margin-left: 20px 0;
  color: white;
  background-image: linear-gradient(315deg, #a761ff 0%, #612dda 74%);
  border: 1px solid #000;
  border-radius: 5px;
  cursor: pointer;
  width: 20%;
  height: 40px;
}

.tweet_box {
  /* box-shadow: 1.5px 1.5px 2px 2px rgb(196, 196, 196); */
  border: 0.5px solid rgba(128, 128, 128, 0.219);
  border-radius: 10px;
}

.library_management {
  margin: 20px 10px;
  background-color: white;
  padding: 10px;
  /* box-shadow: 3px 5px 5px rgb(196, 196, 196); */
  border-radius: 10px;
}

.library_header {
  padding: 10px;
  display: flex;
  flex-direction: row;
}

.library_icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 8px;
}

.add_book {
  padding: 0 10px;
}

.add_book h4 {
  padding-left: 5px;
}

.input_add_book {
  display: flex;
  flex-direction: column;
}

.input_add_book input {
  border: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 12px;
  border-radius: 3px;
  width: 60%;
  background-color: rgba(0, 0, 0, 0.061);
  margin: 5px 0;
  font-family: inherit;
}

.input_add_book textarea {
  height: 150px;
  max-width: 400px;
  min-height: 100px;
  font-family: inherit;
}

.get_book_file {
  padding: 15px 0;
}

.book_file_btn {
  padding: 10px;
  color: white;
  background-image: linear-gradient(315deg, #a761ff 0%, #612dda 74%);
  border: 1px solid #000;
  border-radius: 5px;
  cursor: pointer;
  width: 20%;
}

.book_file_btn:hover {
  background-position: right;
}

.file_text {
  margin-left: 10px;
  font-family: sans-serif;
  color: #aaa;
}
