.tweetBox {
  padding-bottom: 10px;
  padding-right: 10px;
  margin: 10px;
  background-color: white;
}

.tweetBox > form {
  display: flex;
  flex-direction: column;
}

.tweetBox__input {
  padding: 20px;
  display: flex;
}

.tweetBox__input > input {
  flex: 1;
  margin-left: 20px;
  font-size: 20px;
  border: none;
}

.tweetBox__imageInput {
  border: none;
  padding: 10px;
}

.tweetBox__tweetButton {
  /* background-color: var(--twitter-color) !important; */
  background-image: linear-gradient(315deg, #a761ff 0%, #612dda 74%);
  border: none !important;
  color: white !important;
  font-weight: 500 !important;
  font-family: inherit;
  text-transform: inherit !important;
  border-radius: 10px !important;
  width: 100px;
  height: 40px !important;
  margin-top: 20px !important;
  margin-left: auto !important;
}

.tweetBox__tweetButton:hover {
  background-position: right;
}
