.goal {
  background-color: white;
  margin: 10px;
  margin-bottom: 18px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  overflow: hidden;
  background-image: url("https://i.pinimg.com/originals/21/61/8e/21618e399ac27c80aac237c8e2e5021d.jpg");
  border-radius: 10px;
}
