.goal {
  background-color: white;
  /* margin: 10px; */
  margin: 0 auto 18px auto;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* min-width: 100%; */
  max-width: 100%;
  height: 300px;
  overflow: hidden;
  background: radial-gradient(#000000c4, #000000c4), url("../Images/mgoal.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  color: white;
  letter-spacing: 0.1rem;
}
