/* .widgets {
    flex: 0.3;
  }
  
  .widgets__input {
    display: flex;
    align-items: center;
    background-color: var(--twitter-background);
    padding: 10px;
    border-radius: 20px;
    margin-top: 10px;
    margin-left: 20px;
  }
  
  .widgets__input > input {
    border: none;
    background-color: var(--twitter-background);
  }
  
  .widgets__searchIcon {
    color: gray;
  }
  
  .widgets__widgetContainer {
    margin-top: 15px;
    margin-left: 20px;
    padding: 20px;
    background-color: #f5f8fa;
    border-radius: 20px;
  }
  
  .widgets__widgetContainer > h2 {
    font-size: 18px;
    font-weight: 800;
  } */

.widgets {
  /* border: 1px solid red; */
  background-color: #f2edf3;
  border-radius: 5px;
  /* width: calc(50vw - 320px);
  max-width: calc(50vw - 320px); */
  max-width: 30vw;
  min-width: 30vw;
  padding: 5px 9px;
}

.widgets .right-todo {
  /* border: 1px solid rgb(197, 197, 197); */
  padding: 0.5rem;
  background-color: white;
  /* overflow: auto; */
  overflow-y: scroll;
  min-height: 55vh;
  height: 55vh;
  /* max-height: 500px; */
  border-radius: 8px;
  box-shadow: 3px 5px 8px rgb(197, 197, 197), -3px -2px 8px rgb(197, 197, 197);
  /* -ms-overflow-style: none;
  scrollbar-width: none; */
  max-width: 100%;
  margin: 10px auto;
}

.widgets .right-todo::-webkit-scrollbar {
  width: 10px;
}

.widgets .right-todo::-webkit-scrollbar-track {
  background-color: rgb(228, 227, 227);
  border-radius: 8px;
  margin: 5px;
  padding: 5px;
}

.widgets .right-todo::-webkit-scrollbar-thumb {
  background-color: indigo;
  border-radius: 8px;
}
