.notice {
  /* border: 1px solid red; */
  margin: 10px 6px;
  display: flex;
  border-radius: 10px;
  padding-left: 8px;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.856);
  box-shadow: 0px 0px 4px 1px rgba(128, 128, 128, 0.527);
}

.icon {
  display: flex;
  padding: 5px;
  flex-direction: column;
  justify-content: center;
}

.notice p {
  margin-left: 5px;
}
