<!-- <div class="ui container">
  <form action="/add" class="ui form" method="post">
      <div class="ui two fields">
          <div class="field">
              <label for="name">Movie Name</label>
              <input type="text" name="name">
          </div>
          <div class="field">
              <label for="department">Movie Type</label>
              <select name="department" id="">
                  <option value="action">Action</option>
                  <option value="fantasy">Fantasy</option>
                  <option value="animation">Animation</option>
                  <option value="scifi">Sci-Fi</option>
              </select>
          </div>
      </div>

      <div class="ui field">
          <label for="file">Image</label>
          <input type="file" name="file" id="file" class="filepond filepond--item">
      </div>
      <button class="ui fluid blue button" type="submit">Save</button>
  </form>
</div>

<br><br>
<div class="ui container">
  <% if(library) { %>
      <div class="ui small stackable images ">
          <% library.forEach(m => { %>
          <img src="<%= m.coverImagePath %>" alt="" class="ui image">
          <% }) %>
      </div>
  <% } %>
</div> -->

<div class="col-md-12">
    <form action="/search/" id="EmployeeForm" class="form-horizontal" method="post"  role="form">
                
   <div class="col-md-3">
      <div class="form-group">
          <label for="name" class="col-md-12 control-label">By Name</label>
          <div class="col-md-12">
              <input type="text" id="searchName" class="form-control" name="fltrname" placeholder="Enter Name">
          </div>
      </div>
   </div>
   <div class="col-md-3">
      <div class="form-group">
          <label for="email" class="col-md-12 control-label">By Email</label>
          <div class="col-md-12">
              <input type="text" class="form-control" name="fltremail" placeholder="Enter Email">
          </div>
      </div>
   </div>
   <div class="col-md-3">
      <div class="form-group">
          <label for="email" class="col-md-12 control-label">By Employee Type</label>
          <div class="col-md-12">
              <select class="form-control" name="fltremptype">
                  <option value="Hourly">Hourly</option>
                  <option value="Fixed">Fixed</option>
                </select></div>
      </div>
   </div>
   <div class="col-md-3">
      <div class="form-group">
          <label for="email" class="col-md-12 control-label">&nbsp;</label>
         
           <div class="col-md-12">
              <input type="submit" class="form-control btn btn-primary" name="submit" placeholder="Filter">
          </div>
      </div>
   </div>
</form>
 
