.cr {
  min-width: 50vw;
  width: 50vw;
  max-width: 50vw;
}

.cr__header {
  top: 0;
  background-color: white;
  z-index: 100;
  border: 1px solid var(--twitter-background);
  padding: 15px 20px;
}
