.group_chat_container {
  background-color: #f2edf3;
  width: 28.9vw;
  padding: 5px 9px;
  box-sizing: border-box;
}

.group_chat_container * {
  margin: 0px;
}

.join_side {
  max-width: 500px;
  color: #fff;
  background-color: white;
  /* color: black; */
  border-radius: 10px;
  background-color: #0093e9;
  background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
}

.join_chat_form {
  width: 100%;
}

.join-main {
  padding: 20px 30px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.join-main p {
  margin-bottom: 20px;
}

.join-main .form-control {
  margin-bottom: 20px;
  margin-top: 20px;
}

.join-main label {
  display: block;
  margin-bottom: 5px;
}

.join-main input[type="text"] {
  font-size: 16px;
  padding: 5px;
  height: 40px;
  width: 100%;
}

.userchat_header {
  padding: 10px 0;
  /* margin-top: 5px;
  margin-right: 10px; */
  display: flex;
  background-color: #0093e9;
  background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
  font: 1.5rem;
  max-width: 95%;
  margin: 0 auto;
  justify-content: center;
  box-shadow: 2px 2px 2px rgb(196, 196, 196);
  border-radius: 10px;
}

.room_select {
  font-size: 16px;
  padding: 5px;
  height: 40px;
  min-width: 100%;
  max-width: 100%;
}

.join_chat_btn {
  margin: 5px auto;
  width: 80%;
  padding: 8px;
  border-radius: 12px;
  color: white;
  background-image: linear-gradient(315deg, #a761ff 0%, #612dda 74%);
  text-decoration: none;
}

@media (max-width: 700px) {
  .chat-main {
    display: block;
  }
}

.chat-container {
  max-width: 100%;
  background: #fff;
  overflow: hidden;
  margin-top: 10px;
  border-radius: 10px;

  /* min-height: 800px; */
}

.chat-header {
  background-color: #0093e9;
  background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
  /* border-top-left-radius: 10px;
  border-top-right-radius: 10px; */
  /* border-radius: 10px; */
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}

.chat-header h2 {
  color: white;
}

.chat-main {
  /* background-color: rgba(195, 195, 240, 0.705); */
  background-color: #dab4da;
  background-image: linear-gradient(0deg, #d8b4d8 0%, #a3d9df 100%);
  padding: 8px;
  min-height: 500px;
  max-height: 500px;
  overflow: auto;
}

.chat-main::-webkit-scrollbar {
  width: 10px;
}

.chat-main::-webkit-scrollbar-track {
  background-color: rgb(228, 227, 227);
  border-radius: 8px;
  margin: 5px;
  padding: 5px;
}

.chat-main::-webkit-scrollbar-thumb {
  background-color: indigo;
  border-radius: 8px;
}

/* 
.chat-sidebar {
  background: var(--dark-color-b);
  color: #fff;
  padding: 20px 20px 60px;
  overflow-y: scroll;
}

.chat-sidebar h2 {
  font-size: 20px;
  background: rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin-bottom: 20px;
}

.chat-sidebar h3 {
  margin-bottom: 15px;
}

.chat-sidebar ul li {
  padding: 10px 0;
} */

.chat-messages {
  padding: 30px;
  height: 500px;
  max-height: 500px;
  flex: 1;
  overflow-y: scroll;
}

.chat-messages .message {
  padding: 10px;
  margin-bottom: 15px;
  background-color: var(--light-color);
  border-radius: 5px;
  overflow-wrap: break-word;
}

.chat-messages .message .meta {
  font-size: 15px;
  font-weight: bold;
  color: var(--dark-color-b);
  opacity: 0.7;
  margin-bottom: 7px;
}

.chat-messages .message .meta span {
  color: #777;
}

.chat-form-container {
  padding: 10px;
  border-radius: 8px;
  margin-top: 5px;
  /* background-color: var(--dark-color-a); */
  background-color: #dab4da;
  background-image: linear-gradient(0deg, #d8b4d8 0%, #a3d9df 100%);
}

.chat-form-container form {
  display: flex;
}

.send_chat_btn {
  background-image: linear-gradient(315deg, #a761ff 0%, #612dda 74%);
  margin-left: 5px;
  border-radius: 5px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 12px;
  color: white;
}

.leave_chat_btn {
  padding: 8px;
  border-radius: 12px;
  color: white;
  background-image: linear-gradient(315deg, #a761ff 0%, #612dda 74%);
  text-decoration: none;
}

.chat-form-container input[type="text"] {
  font-size: 14px;
  /* padding: 5px; */
  height: 40px;
  flex: 1;
}
