.group_chat_container {
  background-color: #f2edf3;
  width: 28.9vw;
  padding: 5px 9px;
  box-sizing: border-box;
  --dark-color-a: #667aff;
  --dark-color-b: #7386ff;
  --light-color: #e6e9ff;
  --success-color: #5cb85c;
  --error-color: #d9534f;
}

.group_chat_container * {
  margin: 0px;
}

.join_side {
  max-width: 500px;
  margin: 80px auto;
  color: #fff;
  background: blue;
}

.join_chat_form {
  width: 100%;
}

.join-main {
  padding: 20px 30px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.join-main p {
  margin-bottom: 20px;
}

.join-main .form-control {
  margin-bottom: 20px;
}

.join-main label {
  display: block;
  margin-bottom: 5px;
}

.join-main input[type="text"] {
  font-size: 16px;
  padding: 5px;
  height: 40px;
  width: 100%;
}

.room_select {
  font-size: 16px;
  padding: 5px;
  height: 40px;
  min-width: 100%;
  max-width: 100%;
}

.join_chat_btn {
  margin: 5px auto;
  width: 70%;
}

@media (max-width: 700px) {
  .chat-main {
    display: block;
  }

  .chat-sidebar {
    display: none;
  }
}

.chat-container {
  max-width: 1100px;
  background: #fff;
  margin: 30px auto;
  overflow: hidden;
}

.chat-header {
  background: var(--dark-color-a);
  color: #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chat-main {
  margin: 5px;
  background-color: wheat;

  padding: 8px;
}

.chat-sidebar {
  background: var(--dark-color-b);
  color: #fff;
  padding: 20px 20px 60px;
  overflow-y: scroll;
}

.chat-sidebar h2 {
  font-size: 20px;
  background: rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin-bottom: 20px;
}

.chat-sidebar h3 {
  margin-bottom: 15px;
}

.chat-sidebar ul li {
  padding: 10px 0;
}

.chat-messages {
  padding: 30px;
  height: 500px;
  max-height: 500px;
  flex: 1;
  overflow-y: scroll;
}

.chat-messages .message {
  padding: 10px;
  margin-bottom: 15px;
  background-color: var(--light-color);
  border-radius: 5px;
  overflow-wrap: break-word;
}

.chat-messages .message .meta {
  font-size: 15px;
  font-weight: bold;
  color: var(--dark-color-b);
  opacity: 0.7;
  margin-bottom: 7px;
}

.chat-messages .message .meta span {
  color: #777;
}

.chat-form-container {
  padding: 20px 30px;
  background-color: var(--dark-color-a);
}

.chat-form-container form {
  display: flex;
}

.send_chat_btn {
  background-image: linear-gradient(315deg, #a761ff 0%, #612dda 74%);
  margin-left: 5px;
  border-radius: 5px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 12px;
  color: white;
}

.leave_chat_btn {
  padding: 8px;
  border-radius: 12px;
  color: white;
  background-image: linear-gradient(315deg, #a761ff 0%, #612dda 74%);
  text-decoration: none;
}

.chat-form-container input[type="text"] {
  font-size: 16px;
  padding: 5px;
  height: 40px;
  flex: 1;
}
