.herosection_left {
  /* background-color: white; */
  display: flex;
  width: 100%;
  max-width: 100%;
  min-height: 800px;
  background-color: #f5f8fd;
}

.written_part_left {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.para_one {
  font-size: 45px;
  text-align: center;
  font-weight: 900;
  margin: 0px;
  color: #413e66;
  font-family: inherit;
}

.para_two {
  font-size: 35px;
  text-align: center;
  font-weight: 900;
  margin: 0px;
  color: #413e66;
}

.para_three {
  font-size: 35px;
  text-align: center;
  font-weight: 900;
  margin: 0px;
  color: #413e66;
  color: #1bb1dc;
}

.icon_part_right {
  flex: 1;
  display: flex;
  justify-content: left;
  align-items: center;
  /* background-image: url("./firstRightbg.svg"); */
}

.icon_part_right img {
  width: 70%;
  height: 50%;
}
