.sidebar {
  border-right: 1px solid var(--twitter-background);
  flex: 0.3;
  /* min-width: 250px; */
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  width: 300px;
  max-width: 300px;
  min-width: 300px;
}

.sidebar__twitterIcon {
  color: var(--twitter-color);
  font-size: 30px !important;
  margin-left: 20px;
  margin-bottom: 20px;
}

.sidebar__tweet {
  background-color: #f8ceec;
  background-image: linear-gradient(315deg, #a761ff 0%, #a88beb 74%);

  border: none !important;
  color: white !important;
  font-weight: 900 !important;
  text-transform: inherit !important;
  border-radius: 30px !important;
  height: 50px !important;
  margin-top: 20px !important;
}

.sidebar a {
  text-decoration: none;
}
