.feedback_card {
  margin: 10px auto;
  width: 100%;
  max-width: 100%;
  min-height: 150px;
  max-height: 250px;
  background-color: white;
  padding: 20px;
  overflow: auto;
  border: 1px solid lightgray;
  border-radius: 8px;
  background-color: #f8ceec;
  background-image: linear-gradient(315deg, #f8ceec 0%, #b197ee 74%);
}

.feedback_title {
  border-bottom: 1px solid lightgray;
  font-size: 1.2rem;
  margin: 0;
}
/* 
.head__text {
  margin-top: 10px;
} */

.feedback_desc {
  padding-top: 10px;
  line-height: 25px;
  font-size: 14px;
  padding-bottom: 10px;
}

.feedback_card::-webkit-scrollbar {
  width: 10px;
}

.feedback_card::-webkit-scrollbar-track {
  background-color: rgb(228, 227, 227);
  border-radius: 8px;
  margin: 5px;
  padding: 5px;
}

.feedback_card::-webkit-scrollbar-thumb {
  background-color: indigo;
  border-radius: 8px;
}
